version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
      time: "09:00"
      timezone: "UTC"
    groups:
      github-actions:
        patterns:
          - "*"
