name: Changesets Release

on:
  workflow_run:
    workflows: ['CI']
    types:
      - completed
    branches:
      - main

env:
  CI: true

jobs:
  version:
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.repository_owner == 'openai' }}
    timeout-minutes: 15
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      id-token: write  # required for trusted publishing
    steps:
      - name: Checkout code repository
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup node.js
        uses: actions/setup-node@v5
        with:
          node-version: '24.x'
          cache: 'pnpm'
          registry-url: 'https://registry.npmjs.org'
          always-auth: true  # Optional but avoids intermittent ENEEDAUTH issues in pnpm monorepos

      - name: Show Node & npm versions
        run: |
          node -v
          npm -v

      - name: Install dependencies
        run: pnpm install

      - name: Build packages
        run: pnpm build

      - name: Create and publish versions
        id: changesets
        uses: changesets/action@v1
        with:
          commit: 'chore: update versions'
          title: 'chore: update versions'
          version: pnpm bump-version
          publish: pnpm ci:publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_CONFIG_PROVENANCE: true
          NPM_CONFIG_ACCESS: public
